<div class="container">
  <h1>React Styling Solutions</h1>
  <p>Learn different approaches to styling React components.</p>

  <mat-tab-group>
    <mat-tab label="CSS Modules">
    <ng-template matTabContent>
      <div class="tab-content">
        <h2>CSS Modules - Scoped CSS</h2>
        <div class="info-box">
          <p><strong>CSS Modules</strong> provide locally scoped CSS by default.</p>
          <ul>
            <li>Automatic class name scoping</li>
            <li>No global namespace pollution</li>
            <li>Works with preprocessors</li>
            <li>Compile-time solution</li>
          </ul>
        </div>
        <pre><code class="language-jsx">{{cssModules}}</code></pre>
      </div>
    </ng-template>
  </mat-tab>

    <mat-tab label="Styled Components">
    <ng-template matTabContent>
      <div class="tab-content">
        <h2>Styled Components - CSS-in-JS</h2>
        <div class="info-box">
          <p><strong>Styled Components</strong> use tagged template literals to style components.</p>
          <ul>
            <li>True CSS-in-JS solution</li>
            <li>Dynamic theming support</li>
            <li>Automatic vendor prefixing</li>
            <li>Server-side rendering</li>
          </ul>
        </div>
        <pre><code class="language-jsx">{{styledComponents}}</code></pre>
      </div>
    </ng-template>
  </mat-tab>

    <mat-tab label="Emotion">
    <ng-template matTabContent>
      <div class="tab-content">
        <h2>Emotion - Performant CSS-in-JS</h2>
        <div class="info-box">
          <p><strong>Emotion</strong> is a performant and flexible CSS-in-JS library.</p>
          <ul>
            <li>CSS prop for quick styling</li>
            <li>Styled API like Styled Components</li>
            <li>Better performance</li>
            <li>Smaller bundle size</li>
          </ul>
        </div>
        <pre><code class="language-jsx">{{emotion}}</code></pre>
      </div>
    </ng-template>
  </mat-tab>

    <mat-tab label="Tailwind CSS">
    <ng-template matTabContent>
      <div class="tab-content">
        <h2>Tailwind CSS - Utility-First</h2>
        <div class="info-box">
          <p><strong>Tailwind CSS</strong> provides utility classes for rapid UI development.</p>
          <ul>
            <li>Utility-first approach</li>
            <li>Highly customizable</li>
            <li>Responsive design utilities</li>
            <li>Small production bundle</li>
          </ul>
        </div>
        <pre><code class="language-jsx">{{tailwindCSS}}</code></pre>
      </div>
    </ng-template>
  </mat-tab>

    <mat-tab label="Sass/SCSS">
    <ng-template matTabContent>
      <div class="tab-content">
        <h2>Sass/SCSS - CSS Preprocessor</h2>
        <div class="info-box">
          <p><strong>Sass</strong> extends CSS with variables, nesting, mixins, and more.</p>
          <ul>
            <li>Variables and mixins</li>
            <li>Nesting and inheritance</li>
            <li>Functions and operators</li>
            <li>Mature ecosystem</li>
          </ul>
        </div>
        <pre><code class="language-scss">{{sassScss}}</code></pre>
      </div>
    </ng-template>
  </mat-tab>

    <mat-tab label="Inline Styles">
    <ng-template matTabContent>
      <div class="tab-content">
        <h2>Inline Styles - JavaScript Objects</h2>
        <div class="info-box">
          <p><strong>Inline styles</strong> use JavaScript objects for component styling.</p>
          <ul>
            <li>Scoped to component</li>
            <li>Dynamic values</li>
            <li>No build step needed</li>
            <li>Limited CSS features</li>
          </ul>
        </div>
        <pre><code class="language-jsx">{{inlineStyles}}</code></pre>
      </div>
    </ng-template>
  </mat-tab>

    <mat-tab label="Classnames">
    <ng-template matTabContent>
      <div class="tab-content">
        <h2>Classnames Library - Conditional Classes</h2>
        <div class="info-box">
          <p><strong>Classnames</strong> utility for conditionally joining class names together.</p>
          <ul>
            <li>Conditional class application</li>
            <li>Clean syntax</li>
            <li>Works with any CSS solution</li>
            <li>Very small (~0.6KB)</li>
          </ul>
        </div>
        <pre><code class="language-jsx">{{classnames}}</code></pre>
      </div>
    </ng-template>
  </mat-tab>

    <mat-tab label="Comparison">
    <ng-template matTabContent>
      <div class="tab-content">
        <h2>Styling Solutions Comparison</h2>
        <div class="info-box">
          <p><strong>Choose the right solution</strong> based on your project requirements and team preferences.</p>
          <ul>
            <li>Consider bundle size impact</li>
            <li>Development experience</li>
            <li>Performance requirements</li>
            <li>Team familiarity</li>
          </ul>
        </div>
        <pre><code class="language-jsx">{{comparison}}</code></pre>
      </div>
    </ng-template>
  </mat-tab>
  </mat-tab-group>
</div>
