<h2 class="header">Components</h2>
<label>A component in Angular is a self-contained unit that controls a part of the user interface using a template, logic, and styles.</label>

<mat-tab-group>
  <mat-tab label="Syntax Reference">
    <ng-template matTabContent>
      <pre><code #codeElement class="language-typescript">{{ code }}</code></pre>
    </ng-template>
  </mat-tab>
  <mat-tab label="Extras">
    <ng-template matTabContent>
      <pre><code #codeElement class="language-typescript">{{ codeExtras }}</code></pre>
      <div>
        <h3><b>providers</b></h3>
        <ul>
          <li>
            Specifies an array of providers that are available to the component
            and its children.
          </li>
        </ul>
      </div>
      <div>
        <h3><b>animations</b></h3>
        <ul>
          <li>Defines the animations that can be used within the component.</li>
        </ul>
      </div>
      <div>
        <h3><b>changeDetection</b></h3>
        <ul>
          <li>
            Defines the change detection strategy for the component. Values can
            be ChangeDetectionStrategy.Default or
            ChangeDetectionStrategy.OnPush.
          </li>
        </ul>
      </div>
      <div>
        <h3><b>encapsulation</b></h3>
        <ul>
          <li>
            Defines the style encapsulation strategy for the component. Values
            can be ViewEncapsulation.Emulated, ViewEncapsulation.None, or
            ViewEncapsulation.ShadowDom.
          </li>
        </ul>
      </div>
      <div>
        <h3><b>host</b></h3>
        <ul>
          <li>
            Defines the host element bindings for the component. Allows you to
            set properties, attributes, and listeners on the host element.
          </li>
        </ul>
      </div>
      <div>
        <h3><b>interpolation</b></h3>
        <ul>
          <li>
            Configures the interpolation delimiters used in the component's
            template.
          </li>
        </ul>
      </div>
      <div>
        <h3><b>moduleId</b></h3>
        <ul>
          <li>
            Used to set the module ID for the component. Useful for
            module-relative URLs.
          </li>
        </ul>
      </div>
      <div>
        <h3><b>entryComponents</b></h3>
        <ul>
          <li>
            Specifies a list of components that should be compiled when the
            module is defined. This is used for dynamically loaded components.
          </li>
        </ul>
      </div>
      <div>
        <h3><b>viewProviders</b></h3>
        <ul>
          <li>
            Similar to providers, but the services provided here are available
            only to the component view and its children, not to the content
            children.
          </li>
        </ul>
      </div>
      <div>
        <h3><b>exportAs</b></h3>
        <ul>
          <li>
            Defines an alias to use for the component when exporting it in
            templates.
          </li>
        </ul>
      </div>
      <div>
        <h3><b>template</b></h3>
        <ul>
          <li>
            Allows you to define the template inline instead of using a separate
            HTML file.
          </li>
        </ul>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Component Communication">
    <ng-template matTabContent>
      <div>
        <h3><b>Input and Output Properties</b></h3>
        <ul>
          <li>
            &#64;Input(): Used to pass data from a parent component to a child
            component.
          </li>
          <li>
            &#64;Output(): Used to emit events from a child component to notify
            the parent component about changes.
          </li>
          <pre><code #codeElement class="language-typescript">{{ inputOutput }}</code></pre>
        </ul>
      </div>
      <div>
        <h3><b>ViewChild and ContentChild</b></h3>
        <ul>
          <li>
            &#64;ViewChild(): Used to access a child component, directive, or
            DOM element from the parent component's template.
          </li>
          <li>
            &#64;ContentChild(): Used to access a projected content within a
            component.
          </li>
          <pre><code #codeElement class="language-typescript">{{ viewContentChild }}</code></pre>
        </ul>
      </div>
      <div>
        <h3><b>Service-Based Communication</b></h3>
        <ul>
          <li>
            Shared Service: Using a service to share data and communicate
            between components that do not have a parent-child relationship.
          </li>
          <pre><code #codeElement class="language-typescript">{{ serviceBased }}</code></pre>
        </ul>
      </div>
      <div>
        <h3><b>Event Emitter Service</b></h3>
        <ul>
          <li>
            Event Emitter Service: Using an Angular service with an EventEmitter
            to emit and listen to events between components.
          </li>
          <pre><code #codeElement class="language-typescript">{{ eventEmitter }}</code></pre>
        </ul>
      </div>
      <div>
        <h3><b>Reactive Forms</b></h3>
        <ul>
          <li>
            Reactive Forms: Using reactive forms to handle form inputs and
            synchronize data between form controls and the component class.
          </li>
          <pre><code #codeElement class="language-typescript">{{ reactiveForms }}</code></pre>
        </ul>
      </div>
      <div>
        <h3><b>Template Reference Variables</b></h3>
        <ul>
          <li>
            Template Reference Variables: Using template reference variables to
            interact with child components and DOM elements directly in the
            template.
          </li>
          <pre><code #codeElement class="language-typescript">{{ templateRef }}</code></pre>
        </ul>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Data Binding">
    <ng-template matTabContent>
      <div>
        <h3><b>Interpolation</b></h3>
        <ul>
          <li>
            Displaying component properties in the template using curly braces .
          </li>
        </ul>
      </div>
      <div>
        <h3><b>Property Binding</b></h3>
        <ul>
          <li>
            Binding DOM properties to component properties using
            [property]="value".
          </li>
        </ul>
      </div>
      <div>
        <h3><b>Event Binding</b></h3>
        <ul>
          <li>
            Listening to events and calling component methods using
            (event)="handler".
          </li>
        </ul>
      </div>
      <div>
        <h3><b>Two-way Binding</b></h3>
        <ul>
          <li>
            Using [(ngModel)] to bind input fields to component properties.
          </li>
        </ul>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
