<h2 class="header">Interceptors</h2>
<label
  ><b>Definition</b>: An interceptor is a service that implements the
  HttpInterceptor interface and allows you to intercept HTTP requests and
  responses.</label
><br />
<label
  ><b>Usage</b>: Interceptors are part of Angular's HttpClient module and are
  used to globally intercept HTTP communication.</label
>

<mat-tab-group>
  <mat-tab label="Syntax Reference">
    <ng-template matTabContent>
      <pre><code #codeElement class="language-typescript">{{ code }}</code></pre>
    </ng-template>
  </mat-tab>

  <mat-tab label="Use Cases">
    <ng-template matTabContent>
      <div>
        <h3><b>Common Use Cases for Interceptors</b></h3>
        <ul>
          <li>Adding Authorization Headers</li>
        </ul>
        <pre><code #codeElement class="language-typescript">{{ auth }}</code></pre>

        <ul>
          <li>Error Handling</li>
        </ul>
        <pre><code #codeElement class="language-typescript">{{ error }}</code></pre>

        <ul>
          <li>Logging</li>
        </ul>
        <pre><code #codeElement class="language-typescript">{{ log }}</code></pre>
        <ul>
          <li>Caching</li>
        </ul>
        <pre><code #codeElement class="language-typescript">{{ cache }}</code></pre>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Others">
    <ng-template matTabContent>
      <div>
        <h3><b>Registering an Interceptor</b></h3>
        <ul>
          <li>
            Interceptors are provided in the providers array of your Angular
            module using the HTTP_INTERCEPTORS token.
          </li>
        </ul>
        <pre><code #codeElement class="language-typescript">{{ registering }}</code></pre>
      </div>
      <div>
        <h3><b>Interceptor Order</b></h3>
        <ul>
          <li>
            The order in which interceptors are executed is determined by their order in the providers array. Interceptors are executed in the order they are provided, and the response is processed in the reverse order.
          </li>
        </ul>
        <pre><code #codeElement class="language-typescript">{{ order }}</code></pre>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
