<h2 class="header">Modules</h2>

<mat-tab-group>
  <mat-tab label="Syntax Reference">
    <ng-template matTabContent>
      <pre><code #codeElement class="language-typescript">{{ code }}</code></pre>
    </ng-template>
  </mat-tab>
  <mat-tab label="Extras">
    <ng-template matTabContent>
      <pre><code #codeElement class="language-typescript">{{ codeExtras }}</code></pre>
        <div>
          <h3><b>declarations</b></h3>
          <ul>
            <li>This array is used to declare components, directives, and pipes that belong to the module.</li>
            <li>Angular needs to know about these declarations so it can recognize and use them in templates.</li>
          </ul>
        </div>
        <div>
          <h3><b>imports</b></h3>
          <ul>
            <li>This array is used to import other modules that export components, directives, and pipes needed by the components in this module.</li>
            <li>By importing a module, all the declared components, directives, and pipes of the imported module become available to this module.</li>
          </ul>
        </div>
        <div>
          <h3><b>providers</b></h3>
          <ul>
            <li>This array is used to define the services that the injector will provide.</li>
            <li>These services can be injected into components, directives, and other services within the module.</li>
          </ul>
        </div>
        <div>
          <h3><b>bootstrap</b></h3>
          <ul>
            <li>This array is used to specify the root component that Angular should bootstrap when the application is started.</li>
            <li>Typically, this is only used in the root module (e.g., AppModule).</li>
          </ul>
        </div>
        <div>
          <h3><b>exports</b></h3>
          <ul>
            <li>Specifies a set of components, directives, and pipes that can be used in the templates of other modules.</li>
          </ul>
        </div>
        <div>
          <h3><b>entryComponents</b></h3>
          <ul>
            <li>Specifies a set of components that are compiled when the module is defined, rather than when they are referenced in a template.</li>
            <li>Commonly used for dynamically loading components.</li>
          </ul>
        </div>
        <div>
          <h3><b>schemas</b></h3>
          <ul>
            <li>Specifies a set of schemas that declare elements to be recognized by the Angular compiler.</li>
          </ul>
        </div>
        <div>
          <h3><b>id</b></h3>
          <ul>
            <li>Provides a unique identifier for the module, useful for debugging or analytics.</li>
          </ul>
        </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Types">
    <ng-template matTabContent>
      <div>
        <h3><b>Root Module</b></h3>
        <ul>
          <li>The main module that bootstraps the angular application.</li>
        </ul>
      </div>
      <div>
        <h3><b>Feature Modules</b></h3>
        <ul>
          <li>Organize an application into foused areas of functionality.</li>
        </ul>
      </div>
      <div>
        <h3><b>Shared Modules</b></h3>
        <ul>
          <li>Contain common directives,pipes and components needed across multiple modules.</li>
        </ul>
      </div>
      <div>
        <h3><b>Service Modules</b></h3>
        <ul>
          <li>Contain and provide services that are used across multiple application.</li>
        </ul>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Best Practices">
    <ng-template matTabContent>
      <div>
        <h3><b>Avoid Circular Dependencies</b></h3>
        <ul>
          <li>Ensure modules don't depend on each other in a circular manner.</li>
        </ul>
      </div>
      <div>
        <h3><b>Lazy Loading</b></h3>
        <ul>
          <li>Load feature modules asynchronously to improve performance</li>
        </ul>
      </div>
      <div>
        <h3><b>Shared Modules</b></h3>
        <ul>
          <li>Use shared modules for common components,directives and pipes.</li>
        </ul>
      </div>
      <div>
        <h3><b>Feature Modules</b></h3>
        <ul>
          <li>Organize features and functionality into separate modules to improve maintainability.</li>
        </ul>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Miscellaneous">
    <ng-template matTabContent>
      <div>
        <h3><b>ProvidedIn vs providers array for declaring services</b></h3>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
