<h2 class="header">Forms</h2>

<mat-tab-group>
  <mat-tab label="Template-driven Forms">
    <ng-template matTabContent>
      <label
        >Template-driven forms are suitable for simple forms and rely heavily on
        Angular's directives. They are easier to set up and use Angular's
        two-way data binding.</label
      >

      <div>
        <h2>Setting Up</h2>
        <div>
          <h3><b>Import FormsModule</b></h3>
          <ul>
            <li>Import FormsModule in your AppModule.</li>
          </ul>
          <pre><code #codeElement class="language-typescript"> {{ tempForms1 }} </code></pre>
        </div>
        <div>
          <h3><b>Create a Template-driven Form</b></h3>
          <ul>
            <li>Use Angular directives like ngModel and ngForm.</li>
          </ul>
          <pre><code #codeElement class="language-typescript"> {{ tempForms2 }} </code></pre>
        </div>
      </div>

      <div>
        <h2>Form Controls and Validation</h2>
        <div>
          <h3><b>FormControl:</b></h3>
          <pre><code #codeElement class="language-typescript"> {{ tempForms3 }} </code></pre>
        </div>
        <div>
          <h3><b>Validation</b></h3>
          <pre><code #codeElement class="language-typescript"> {{ tempForms4 }} </code></pre>
        </div>
      </div>

      <div>
        <h2>Handling Form Submission</h2>
        <div>
          <h3><b>Component Code:</b></h3>
          <pre><code #codeElement class="language-typescript"> {{ tempForms5 }} </code></pre>
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Reactive Forms">
    <label
      >Reactive forms provide more control and flexibility, especially for
      complex forms. They are built around reactive programming principles and
      use explicit and immutable data structures.</label
    >

    <div>
      <h2>Setting Up</h2>
      <div>
        <h3><b>Import ReactiveFormsModule</b></h3>
        <ul>
          <li>Import ReactiveFormsModule in your AppModule.</li>
        </ul>
        <pre><code #codeElement class="language-typescript"> {{ reactForms1 }} </code></pre>
      </div>
      <div>
        <h3><b>Create a Reactive Form</b></h3>
        <ul>
          <li>Define form controls and group them in the component.</li>
        </ul>
        <pre><code #codeElement class="language-typescript"> {{ reactForms2 }} </code></pre>
      </div>
      <div>
        <h3><b>Template code</b></h3>
        <pre><code #codeElement class="language-typescript"> {{ reactForms3 }} </code></pre>
      </div>
    </div>

    <div>
      <h2>Form Controls and Validation</h2>
      <div>
        <h3><b>FormControl:</b></h3>
        <ul>
          <li>Create form controls with initial values and validators.</li>
        </ul>
        <pre><code #codeElement class="language-typescript"> {{ reactForms4 }} </code></pre>
      </div>
      <div>
        <h3><b>Validation</b></h3>
        <ul>
          <li>
            Use Angular's built-in validators or create custom validators.
          </li>
        </ul>
        <pre><code #codeElement class="language-typescript"> {{ reactForms5 }} </code></pre>
      </div>
    </div>

    <div>
      <h2>Custom Validators</h2>
      <div>
        <h3><b>Creating Custom Validators</b></h3>
        <pre><code #codeElement class="language-typescript"> {{ reactForms6 }} </code></pre>
      </div>
      <div>
        <h3><b>Using Custom Validators</b></h3>
        <pre><code #codeElement class="language-typescript"> {{ reactForms7 }} </code></pre>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
